<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="try_bi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="BiensiPosDbDataContextConnectionString" connectionString="User Id=boy;Password=admin;Host=localhost;Database=biensi_pos_db;Persist Security Info=True" />
    <add name="BiensiDataContextConnectionString" connectionString="Data Source=DESKTOP-J5OORT9\SQLEXPRESS;Initial Catalog=Biensi;Integrated Security=False;Persist Security Info=True;User ID=biensi_pos;Password=admin12345!" />
    <add name="BiensiPOSDataContextConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Biensi;Integrated Security=False;Persist Security Info=True;User ID=biensi_pos;Password=admin12345!" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <try_bi.Properties.Settings>
      <setting name="PrinterPath" serializeAs="String">
        <value>EPSON LX-310</value>
      </setting>
      <setting name="mServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="mUserDB" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="mPassDB" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="mDBName" serializeAs="String">
        <value>biensi_pos_db</value>
      </setting>
      <setting name="mPrinter" serializeAs="String">
        <value>EPSON LX-310</value>
      </setting>
      <setting name="mVersion" serializeAs="String">
        <value>V1.3D</value>
      </setting>
      <setting name="mBackDate" serializeAs="String">
        <value />
      </setting>
      <setting name="ValueBackDate" serializeAs="String">
        <value />
      </setting>
      <setting name="OnnOrOff" serializeAs="String">
        <value />
      </setting>
      <setting name="MstrOrChld" serializeAs="String">
        <value />
      </setting>
      <setting name="DevCode" serializeAs="String">
        <value />
      </setting>
      <setting name="printerDefault" serializeAs="String">
        <value />
      </setting>
      <setting name="msgDBName" serializeAs="String">
        <value />
      </setting>
      <setting name="FTPFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="StoreId" serializeAs="String">
        <value />
      </setting>
    </try_bi.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.sqlCon()nectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.1964.0" newVersion="5.0.1964.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Devart.Data.MySql" publicKeyToken="09af7300eec23701" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.11.1172.0" newVersion="8.11.1172.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>